/* line 5, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
* {
  margin: 0;
}

/* line 10, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
h1, h2 {
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
  text-align: center;
}

/* line 17, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
body, html {
  font-family: Montserrat, sans-serif;
  padding-top: 50px;
  height: 100%;
  background-color: #718C01;
}

/* line 25, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar {
  background-color: #494949;
  letter-spacing: 0.05em;
  color: #839E03;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 100%;
  border: 0px;
}

/* line 39, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.img-responsive {
  margin: 20px auto;
}

/* line 47, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

/* line 52, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 56, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.site-footer, .page-wrap:after {
  height: 100px;
}

/* line 59, C:/Users/Isabella/Documents/Careerfoundry/rails-app-project/nameofapp/app/assets/stylesheets/static_pages.scss */
.site-footer {
  background-color: #C8C8C8;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

