// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html {
	font-family: Montserrat, sans-serif;
  max-width: 100%;
  height: 100%; 

  }

  body {
    margin: -33px;
 
  }

  * {
  box-sizing: border-box;
  }


//navbar
.navbar {    
  background-color: #494949;
  letter-spacing: 0.05em;
  color: #839E03;
  font-size: 16px; 
  font-family: Montserrat, sans-serif;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 100%;  

}

// index

.index {  
  padding-top: 50px;
  text-align: center;
}

.image-row {
  max-width: 60%;
  margin: 80px auto;
  padding: 2em 0;

}

// products

.products {
  padding-top: 70px;
  
}

.products div {
  text-align: center;
}


//about

.about {
  padding-top: 70px;
  text-align: center;
}


//contact

.contact {
  padding-top: 70px;
  text-align: center;
}


//footer

.footer {
  background-color: #494949;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;

}
