// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//* { border: 1px solid red;}

html, body {
	font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;

  }

.edit,
.new-product,
.panel-body,
.login,
.signup {
  padding-top: 100px;
  padding-left: 100px;
}

h1 {
  font-size: 2.3em;
  font-weight: 800em;
}

h3 {
  font-size: 1.8em;
}
  


//navbar
.navbar {    
  background-color: #0197E6;
  border-color: #0197E6;
  letter-spacing: 0.05em;
  color: white;
  font-size: 16px; 
  font-family: Montserrat, sans-serif;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 100%;

}

//carousel

#carousel-example-generic {
    padding-top: 90px;
}

.carousel {   
    margin-right: -33px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    
}

.carousel-image {  
  width: auto;
  margin: auto;
}


.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left {
  color: #494949;
}

// products

.products {
  padding-top: 70px;
  
}

.products div {
  text-align: center;
}


//about

.about {
  padding-top: 70px;
  text-align: center;
}


//contact

.contact {
  padding-top: 90px;
  padding-bottom: 20px;
  text-align: left;
}


//footer

.footer {
  background-color: #0197E6;  
  border-color: #0197E6;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  width: 100%;
}
