<p id="notice"><%= notice %></p>

<!--
<div class="header products">
<h1>Products</h1>
</div>
-->

<div class="container-fluid products" id="product_index">  
  <% @products.each do |product| %>      
  <%= render partial: "shared/product", locals: {product: product} %>
  <% end %>  
</div>
  

